{% if pagination.pages > 1 %}
    <nav role="navigation" class="flex justify-center my-8">
        {% if pagination.previous %}
            <a href="{{ pagination.previous.url }}" class="hover:text-clr_primary mx-3">
             {% render 'icon-left' %}
            </a>
        {% endif %}

        {% for part in pagination.parts %}
            {% if part.is_link %}
                <a href="{{ part.url }}" class="text-lg hover:text-clr_primary mx-3">
                    {{ part.title }}
            {% else %}
                <span class="text-lg text-clr_primary underline mx-3">
                    {{ part.title }}
                </span>
            {% endif %}

            </a>
        {% endfor %}

        {% if pagination.next %}
            <a href="{{ pagination.next.url }}" class="hover:text-clr_primary">
             {% render 'icon-right' %}
            </a>
        {% endif %}
    </nav>
{% endif %}