  <!-- Footer container -->
  <div class="mx-auto md:p-3 md:px-6 bg-clr_primary_variaton ">
    <div class="hidden container text-white text-xs md:flex md:px-3 my-6 justify-between mx-auto">
        <div class="flex flex-col space-y-2">
            <h3 class="text-2xl uppercase font-bold">Support</h3>
            <p class="text-base font-bold">+45 5353 9796</p>
            <a href="#">Bestillinger</a>
            <a href="#">Returnering og refundering</a>
            <a href="#">Hjælp og kundeservice</a>
            <a href="#">EU-Kommissionens klageportal</a>
        </div>
        <div class="flex flex-col text-xs mx-6">
            <h3 class="text-2xl mb-2 font-bold">DU FINDER OS HER</h3>
            <div class="grid grid-cols-3 gap-1">
                <div class="col-item flex flex-col space-y-2">
                    <p class="font-bold">Olila Esbjerg</p>
                    <p>Kongensgade 94,<br> 6700 Esbjerg </p>
                    <p>Telefon: 2575 5071</p>
                    <p>info@olila.dk</p>
                    <p>CVR: 4286943</p>
                </div>
                <div class="col-item space-y-2">
                    <p class="font-bold">Åbningstider</p>
                    <p>Mandag – torsdag <br> kl. 10.00 – 17.30</p>
                    <p>Fredagkl <br> 10.00 – 18.00</p>
                    <p>Lørdagkl <br> 10.00 – 15.00</p>
                </div>
                <div class="col-item space-y-2">
                    <p> &nbsp;</p>
                    <p>Søndag: Lukket <br> (Eller efter aftale)</p>
                    <p>Specielle åbningstider 2021</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-2">
            <h3 class="text-2xl uppercase font-bold">Om os</h3>
            <a href="#">Om os</a>
            <a href="#">Job</a>
        </div>
    </div>
    <div class="md:hidden">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item bg-clr_dropdown ">
                <h2 class="accordion-header mb-0" id="headingOne">
                <button class="
                    uppercase
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-4
                    px-5
                    text-base text-white
                    bg-clr_dropdown
                    rounded-none
                    transition
                    focus:outline-none
                    whitespace-nowrap
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    ÅBNINGSTIDER / DU FINDER OS HER
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show bg-clr_dropdown" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                    <div class="accordion-body py-4 px-5 text-white">
                        <div class="flex flex-col space-y-3">
                            <div>
                                <p class="font-bold">Olila Esbjerg</p>
                                <p>Kongensgade 94, 6700 Esbjerg</p>
                                <p>Telefon: 2575 5071</p>
                                <p>info@olila.dk</p>
                                <p>CVR: 42869643</p>
                            </div>
                            <div>
                                <p class="font-bold">Åbningstider</p>
                                <p>Mandag – torsdag kl. 10.00 – 17.30</p>
                                <p>Fredag kl. 10.00 – 18.00</p>
                                <p>Lørdag kl. 10.00 – 15.00</p>
                            </div>
                            <div>
                                <p>Søndag: Lukket</p>
                                <p>Specielle åbningstider 2021</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion-item bg-white">
                <h2 class="accordion-header mb-0" id="headingTwo">
                <button class="
                    uppercase
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-4
                    px-5
                    text-base text-white
                    bg-clr_dropdown
                    rounded-none
                    transition
                    focus:outline-none
                    whitespace-nowrap
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Rabatkoder & Gavekort
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse bg-clr_dropdown" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                    <div class="accordion-body py-4 px-5 text-white">
                        <div class="grid grid-rows-3">
                            <p>Gavekort</p>
                            <p>Indløs gavekort</p>
                            <p>Spørgsmål til gavekort</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion-item bg-white">
                <h2 class="accordion-header mb-0" id="headingThree">
                <button class="
                    uppercase
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-4
                    px-5
                    text-base text-white
                    bg-clr_dropdown
                    rounded-none
                    transition
                    focus:outline-none
                    whitespace-nowrap
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                    aria-controls="collapseThree">
                    Om Olila
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse bg-clr_dropdown" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                    <div class="accordion-body py-4 px-5 text-white">
                        <div class="grid grid-rows-3">
                            <p>Hvem er vi</p>
                            <p>Blog</p>
                            <p>Job</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion-item bg-white">
                <h2 class="accordion-header mb-0" id="headingFour">
                <button class="
                    uppercase
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-4
                    px-5
                    text-base text-white
                    bg-clr_dropdown
                    rounded-none
                    transition
                    focus:outline-none
                    whitespace-nowrap
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                    aria-controls="collapseFour">
                    Hurting levering
                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse bg-clr_dropdown" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                    <div class="accordion-body py-4 px-5 text-white">
                        <div class="grid grid-rows-3">
                            <p>Gratis fragt ved køb over 399 kr.</p>
                            <p>Dag til dag leverling</p>
                            <p>14 dages returret</p>
                            <p>Kundeservice alle dage fra 10.00-18.00</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion-item bg-white">
                <h2 class="accordion-header mb-0" id="headingFive">
                <button class="
                    uppercase
                    accordion-button
                    relative
                    flex
                    items-center
                    w-full
                    py-4
                    px-5
                    text-base text-white
                    bg-clr_dropdown
                    rounded-none
                    transition
                    focus:outline-none
                    whitespace-nowrap
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                    aria-controls="collapseFive">
                    HJÆLP & KONTAKTINFORMATION
                </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse bg-clr_dropdown" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                    <div class="accordion-body py-4 px-5 text-white">
                        <div class="grid grid-rows-3">
                            <p>Min konto</p>
                            <p>Handels- og leveringsbetingelser</p>
                            <p>Sådan returnerer du</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="accordion-item bg-white border">
                <h2 class="accordion-header mb-0" id="headingSix">
                <button class="
                uppercase
                accordion-button
                relative
                flex
                items-center
                w-full
                py-4
                px-5
                text-base text-white
                bg-clr_dropdown
                border-b
                border-white
                rounded-none
                transition
                focus:outline-none
                whitespace-nowrap
                " type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false"
                    aria-controls="collapseSix">
                    BETALING- & FRAGTMULIGHEDER
                </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse text-white bg-clr_dropdown" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body py-4 px-5 text-white">
                    <div class="flex flex-row">
                        {% if shop.enabled_payment_types != empty %}
                            {% for payment in shop.enabled_payment_types %}
                                {{ payment | payment_type_svg_tag: class: 'h-[64px] w-[64px]' }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
  
  <div class=" md:mx-auto p-3 px-6 bg-clr_primary">
    {%- comment -%} Contact info {%- endcomment -%}
    {%- comment -%} Footer {%- endcomment -%}
    <div class="container mx-auto">
      <div class="w-full md:px-3 flex flex-col items-center justify-between space-y-6 my-12 md:flex-row">
        <!-- Footer logo -->
        <img src="https://svgshare.com/i/mJG.svg" alt="">
        <!-- Footer input group -->
        <div class="flex flex-col items-center justify-center">
          {% if section.settings.newsletter_title_1 %}          
            <h3 class="uppercase whitespace-nowrap lg:text-2xl md:text-xl sm:text-regular text-white font-bold">
              {{ section.settings.newsletter_title_1 }}
            </h3>
          {% endif %}
          {% if section.settings.newsletter_title_2 %}          
            <h3 class="uppercase whitespace-nowrap lg:text-2xl md:text-xl sm:text-regular text-white font-bold">
              {{ section.settings.newsletter_title_2 }}
            </h3>
          {% endif %}
  
          {% form 'contact', class: 'flex flex-col items-center justify-center' %}
              <div class="flex flex-col md:flex md:flex-row items-center justify-center space-y-3 my-3 md:space-y-0 md:space-x-3">
                  <input class="rounded-full p-2 px-6 text-center" type="text" name="contact[name]" placeholder="NAVM">
                  <input class="rounded-full p-2 px-6 text-center" type="email" name="contact[email]" placeholder="E-MAIL">
              </div>
              <div class="my-3">
                <a href="#" class="uppercase p-3 px-6 text-white font-bold bg-clr_primary_variaton rounded-full">TILMELD NU</a>
              </div>
          {% endform %}
        </div>
        <!-- Footer right item -->
        <div class="flex flex-col">
          <!-- Find us  -->
          <h3 class="uppercase whitespace-nowrap text-2xl font-bold text-white">
            FØLG OS
          </h3>
          <!-- Social media icons -->
          <div class="flex flex-row items-center justify-center space-x-3">
              {% if section.settings.facebook_url != blank %}
                <a href="{{ section.settings.facebook_url }}">
                  {% render 'icon-facebook' %}
                </a>
              {% endif %}
              {% if section.settings.instagram_url != blank %}
                <a href="{{ section.settings.instagram_url }}">
                  {% render 'icon-instagram' %}
                </a>
              {% endif %}
  
          </div>
        </div>
      </div>
      <div class="w-full md:px-10 flex justify-between md:items-center md:justify-center md:space-x-6">
            <div class="flex flex-col items-start space-y-2 md:flex-row md:items-center md:space-x-6 md:space-y-0">
              {% assign left_blocks = section.blocks | where: "type", "bottom_inf_left"  %}
              {% for block in left_blocks %}
                <a class="uppercase text-clr_primary_variaton text-sm md:text-regular font-bold" href="{{ block.settings.url_bottom }}">{{ block.settings.text_title_bottom }}</a>
              {% endfor %}
            </div>        
            <div class="flex flex-col items-end space-y-2 md:flex-row md:items-center md:space-x-6 md:space-y-0">
              {% assign right_blocks = section.blocks | where: "type", "bottom_inf_right"  %}
              {% for block in right_blocks %}
                <a class="uppercase text-clr_primary_variaton text-sm md:text-regular font-bold" href="{{ block.settings.url_bottom }}">{{ block.settings.text_title_bottom }}</a>
              {% endfor %}
            </div>
      </div>
    </div>
  </div>

  {% schema %}
    {
      "name": "Footer",
      "settings": [
        {
          "type": "text",
          "id": "newsletter_title_1",
          "label": "Newsletter title 1",
          "default": "Spar 10% på første køb ved"
        },
        {
          "type": "text",
          "id": "newsletter_title_2",
          "label": "Newsletter title 2",
          "default": "tilmelding af nyhedsbrev"
        },
        {
          "type": "url",
          "id": "instagram_url",
          "label": "Instagram"
        },
        {
          "type": "url",
          "id": "facebook_url",
          "label": "Facebook"
        },
               {
        "type": "text",
        "id": "text_title",
        "label": "Text title",
        "default": "Nyheder"
       },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      },
     {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
     }
      ],
      "blocks": [
        {
          "type": "bottom_inf_left",
          "name": "Bottom text left",
          "limit": 2,
          "settings": [
            {
             "type": "text",
             "id": "text_title_bottom",
             "label": "Bottom text",
             "default": "Bottom text"
            },
           {
            "type": "url",
            "id": "url_bottom",
            "label": "Bottom url"
           }
          ]
        },
        {
          "type": "bottom_inf_right",
          "name": "Bottom text right",
          "limit": 2,
          "settings": [
            {
             "type": "text",
             "id": "text_title_bottom",
             "label": "Bottom text",
             "default": "Bottom text"
            },
           {
            "type": "url",
            "id": "url_bottom",
            "label": "Bottom url"
           }
          ]
        }
        
      ]
    }
  {% endschema %}