
<!-- Mobile menu -->

<div id="menu" 
class="z-50 fixed h-screen w-60 flex-col items-center hidden self-end py-8 space-y-6 
font-bold bg-white drop-shadow-md md:hidden top-0 left-0">
<!-- class="z-10 absolute h-screen w-1/2 flex-col items-center hidden self-end py-8 mt-10 space-y-6 
font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md"> -->
    <div class="hover:rounded-full transition-all hover:bg-stone-300 p-1 w-8 h-8 cursor-pointer" id="menu-btn-close">
        {% render 'icon-close'%}
    </div>
    <div class="group flex flex-col items-center space-y-6">
        {% for link in section.settings.menu.links %}
                    <div class="flex flex-col items-center mobile-link">
                        {% if link.links == blank %} 
                            <a href="{{ link.url }}" class="text-base uppercase hover:font-bold"> {{ link.title }} </a>
                        {% else %}
                        <button class="text-base cursor-pointer text-center uppercase hover:font-bold hover:text-clr_navigation "> {{ link.title }} </button>
                        <div class="hidden mobile-link-block flex-col items-center space-y-3 my-2 ">
                            {% for childlink in link.links %}
                                <a href="{{ childlink.url }}" class="font-normal hover:text-clr_primary_variaton text-regular">{{ childlink.title }}</a>                                    
                            {% endfor %}
                        </div>
                            <!-- {% render 'icon-dropdown-arrow' %} -->
                        {% endif %}
                    </div>
        {% endfor %}
    </div>
</div>



<div class="relative" >
    <div class="hidden bg-black bg-opacity-50 h-screen w-screen z-20 fixed" id="mobile-bg">
    </div>
    <!-- Flex container -->
    <div class="bg-clr_primary md:bg-clr_header_bg">
        <!-- Top message item 1 -->
        <div class="md:container md:mx-auto flex items-center justify-center  p-3 md:justify-between">
            <div>
                <p class="font-bold text-sm uppercase text-white md:text-black">
                    Stort udvalg af danmarks 
                    <span class="text-clr_primary_variaton font-black">favoritmærker</span>
                </p>
            </div>
            <div class="hidden md:block">
                <p class="font-bold text-sm uppercase">
                    Stort udvalg af danmarks 
                    <span class="text-clr_primary_variaton font-black">favoritmærker</span>
                </p>
            </div>
            <div class="hidden md:block">
                <p class="font-bold text-sm uppercase">
                    Stort udvalg af danmarks 
                    <span class="text-clr_primary_variaton font-black">favoritmærker</span>
                </p>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="md:container md:mx-auto relative">
        <!-- Flex container -->
        <div class="flex items-center justify-between py-6 px-3">
            <div class="hidden space-x-3 md:flex md:flex-row">
                {% for link in section.settings.menu.links %}
                    <!-- Mega menu -->
                    <div class="group">
                            {% if link.links == blank %} 
                                <a href="#" class="text-regular uppercase hover:font-bold"> {{ link.title }} </a>
                            {% else %}
                                <a href="{{ link.url }}" class="text-regular uppercase hover:font-bold"> {{ link.title }} </a>
                                <!-- {% render 'icon-dropdown-arrow' %} -->
                            {% endif %}
                        <div class="hidden z-40 group-hover:flex flex-col absolute left-0 p-10 w-full bg-clr_dropdown text-black transition duration-1000">
                            <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
                                {% for childlink in link.links %}
                                    <div class="flex flex-col">
                                        <a href="{{ childlink.url }}" class="uppercase mb-4 text-regular text-white font-bold">{{ childlink.title }}</a>
                                        {% for nestedchild in childlink.links %}
                                            <a href="{{ nestedchild.url }}" class="hover:underline text-white text-regular my-1 font-light">{{ nestedchild.title }}</a>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Burger menu mobile -->
            <div id="menu-btn" class="md:hidden">
                {% render 'icon-hamburger' %}
            </div>
            <!-- <div class="md:hidden">
                {% render 'icon-heart' %}
            </div> -->
            <!-- Logo -->
            <div class="max-h-[80px] absolute right-1/2 top-1/2 -translate-y-1/2 translate-x-1/2">
                {% if section.settings.store_logo %}
                <a href="{{ shop.url }}">
                    <img class="h-full" src="{{ section.settings.store_logo | img_url: 'small' }}" alt="{{ section.setting.store_logo.alt }}">
                </a>
                {% else %}
                    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover'}}
                {% endif %}
            </div>

    
            <!-- Right icons -->
            <div class="flex items-center md:justify-between space-x-3">
                {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                        <div class="hidden md:block">
                            <a href="{{  routes.account_url }}">
                                {% render 'icon-user' %}
                            </a>
                        </div>
                    {% else %}
                        <a href="{{  routes.account_login_url  }}">
                            {% render 'icon-user' %}
                        </a>
                    {% endif %}
                {% endif %}
    
                <!-- <div class="hidden md:block">
                    {% render 'icon-heart' %}
                </div> -->
                <div>
                    <a href="{{ routes.cart_url }}">
                        {% render 'icon-cart' %}
                    </a>
                </div>
                <div class="hidden md:block">
                    <div id="search-btn">
                        {% render 'icon-search' %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="w-full hidden absolute top-0 bg-white border" id="search-menu">
        <button id="search-menu-btn-close" type="button" class="absolute top-0 right-0 mr-5 mt-5 text-gray-500">
            {% render 'icon-close' %}
        </button>
        <div class="h-40 flex justify-center items-center bg-">
            <form action="{{ routes.search_url }}" method="get" class="flex-auto">
                <div class="relative text-gray-500 px-10 border">
                    <input type="search" name="q" placeholder="Search" class="w-full bg-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none">
                    <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 md:mr-20">
                        {% render 'icon-search' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
const btn = document.getElementById('menu-btn')
const nav = document.getElementById('menu')
const mobileBackground = document.getElementById('mobile-bg')
const body = document.body
const btnClose = document.getElementById('menu-btn-close')

btn.addEventListener('click', ()=>{
    btn.classList.toggle('open')
    nav.classList.toggle('flex')
    nav.classList.toggle('hidden')
    body.classList.toggle('overflow-hidden')
    mobileBackground.classList.toggle('hidden')
})

btnClose.addEventListener('click', ()=>{
    btn.classList.toggle('open')
    nav.classList.toggle('flex')
    nav.classList.toggle('hidden')
    body.classList.toggle('overflow-hidden')
    mobileBackground.classList.toggle('hidden')
})

const menu = document.getElementsByClassName('mobile-link')

for (let i = 0; i< menu.length; i++){
    menu[i].addEventListener("click", function(event){
        const mblMenu = event.target.parentNode.querySelector('.mobile-link-block')
        console.log(mblMenu)
        mblMenu.classList.toggle('hidden')
        mblMenu.classList.toggle('flex')
    })
}

const searchBtn = document.getElementById('search-btn')
const searchMenu = document.getElementById('search-menu')
const searchClose = document.getElementById('search-menu-btn-close')

searchBtn.addEventListener('click', ()=>{
    searchMenu.classList.toggle('hidden')
})
searchClose.addEventListener('click', ()=>{
    searchMenu.classList.toggle('hidden')
})

</script>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Heading navigation menu "
        },
       {
        "type": "image_picker",
        "id": "store_logo",
        "label": "Store logo"
       }
    ]
}
{% endschema %}