<!-- Container -->
<div class="bg-clr_grey_bg p-3 px-6 pb-12 md:container md:mx-auto flex flex-col md:items-center ">
    <div class="max-w-6xl">
    <!-- Section title -->
    <h3 class="my-3 w-full md:px-10 font-bold text-2xl text-clr_navigation">{{ section.settings.title }}</h3>
    <!-- Category items -->
    <div class="w-full flex md:px-10 flex-col items-center justify-between md:flex-row space-y-4 md:space-x-6 md:space-y-0">
        <!-- Category item -->
        {% if section.blocks == empty %}
            {% for item in (1..5) %}
                <div class="max-w-md h-24 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
                    {{ 'image' | placeholder_svg_tag: 'w-full h-full object-cover border bg-zinc-700  border-sky-500' }}
                    <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
                        <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">Category</p>
                        <div class="flex justify-center">
                            <a 
                            href="#"
                            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
                            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
                            Shop nu
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% for block in section.blocks %}
                <div class="max-w-md h-24 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
                    {% if block.settings.image %}
                        <img class="object-cover w-full md:h-full" src="{{ block.settings.image | img_url: 'large'}}" alt="{{ block.settings.title | escape }}">
                    {% else %}
                        {{ 'image' | placeholder_svg_tag: 'w-full h-full object-cover border bg-zinc-700  border-sky-500' }}
                    {% endif %}
                    <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
                        <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">{{ block.settings.title }}</p>
                        <div class="flex justify-center">
                            <a 
                            href="#"
                            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
                            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
                            {{ block.settings.button_text }}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>
    </div>
</div>


{% schema %}
    {
        "name": "Main categories",
        "settings": [
           {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "HVEM SHOPPER DU TIL?"
           }
        ],
        "blocks":[
        {
            "type": "category_card",
            "name": "Category",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Category title",
                    "default": "Category"
                },
               {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
               },
              {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button text",
                    "default": "Shop nu"
              }
            ]
        }
    ]

    }
{% endschema %}