{{ 'ajaxinate.min.js' | asset_url | script_tag }}

<div class="px-4 py-8 md:container md:mx-auto bg-[#E5E5E5]">
    {% render 'breadcrumb' %}
    <div class=" md:px-10 grid grid-cols-1 md:grid-cols-10">

        <div class="hidden md:block sidenav font-medium text-xs text-clr_navigation col-span-2">
            {%- for link in linklists.main-menu.links -%}
                <a href={{ link.url }} class="block
                {% if link.active  %}
                    font-bold
                    text-clr_primary
                {% endif %}">
                    {{link.title}}
                </a>
            {%- endfor -%}
        </div>
        <!-- Content -->
        {% paginate collection.products by section.settings.number_of_products_per_page %}
            <div class="content grid grid-cols-2 md:grid-cols-3 col-span-8 gap-6 gap-y-12"
                id="AjaxinateContainer"
                data-next-url="{{paginate.next.url}}">
                <!-- {% include 'breadcrumb' %} -->
                    {% for product in collection.products %}
                            {% render 'collection-product-card', param_item: product %}
                    {% else %}
                        <p>There are no products inside of this collection</p>
                    {% endfor %}
                <div class="col-span-full mx-auto">

                    <div id="AjaxinatePagination">

                    {% if paginate.next %}
                        <a href="{{ paginate.next.url }}"></a>
                    {% endif %}
                    </div>
                    
                </div>
            </div>

        {% endpaginate %} 

        <div class="mx-auto w-full">

        </div>
    </div>
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var endlessScroll = new Ajaxinate({
    method: 'scroll',
    offset: 10000,
    loadingText: 'Loading'
  });
});
</script>

{% schema %}
    {
        "name": "Collection",
        "settings": [
            {
                "type": "number",
                "id": "number_of_products_per_page",
                "default": 6,
                "label": "Number of products per page"
            }
        ]
    }
{% endschema %}