<div class="md:container mx-auto px-4 py-8 bg-[#E5E5E5]">
        <h1 class="text-xl my-4 text-center">Search Results</h1>

        <div class="flex justify-center items-center my-3">
            <form action="{{ routes.search_url }}" method="get" class="border flex rounded">
                <input type="search" name="q" placeholder="Search" value="{{ search.terms | escape }}"
                class="px-4 py-2">
                <button type="submit" class="rounded bg-gradient-to-r from-clr_gold to-clr_primary
                hover:bg-gradient-to-r hover:from-[#87BAEA] hover:to-[#4B7D9A] text-white border px-4">
                    Search
                </button>
            </form>
        </div>
    {% paginate search.results %}
        {% if search.performed %}
            {% if search.results.size > 0 %}
                <div class="content grid grid-cols-2 md:grid-cols-3 col-span-8 gap-6 gap-y-12 "
                    id="AjaxinateContainer"
                    data-next-url="{{paginate.next.url}}">
                    <!-- {% include 'breadcrumb' %} -->
                        {% for product in search.results %}
                                {% render 'collection-product-card', param_item: product %}
                        {% else %}
                            <p>There are no products inside of this collection</p>
                        {% endfor %}
                    <div class="col-span-full mx-auto">
                        <div id="AjaxinatePagination">

                        {% if paginate.next %}
                            <a href="{{ paginate.next.url }}"></a>
                        {% endif %}
                        </div>
                        
                        {%- comment -%} {% render 'pagination', pagination: paginate %} {%- endcomment -%}
                    </div>
                </div>
            {% else %}
                <div class="text-center my-4">
                    <p>No results found for the search term: {{ search.terms | escape}} .Try using a different keyword</p>
                </div>
            {% endif %}
        {% endif %}
    
    {% endpaginate %}
</div>


<script>
document.addEventListener("DOMContentLoaded", function() {
  var endlessScroll = new Ajaxinate({
    method: 'scroll',
    offset: 10000,
    loadingText: 'Loading'
  });
});
</script>