<link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

{% assign selected_variant = product.selected_or_first_available_variant %}

<div class="mx-auto md:container md:px-6">
    <div class="max-w-6xl mx-auto md:px-10 grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="product--medias">
            <div class="hidden md:block ">
                <div
                style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                class="swiper mySwiper2 max-w-2xl"
              >
                <div class="swiper-wrapper">
                    {% for media in product.media %}
                        <div class="swiper-slide">
                            <img class="w-full h-full object-cover" src="{{ media | img_url: 'original' }}" alt="{{ media.preview_image.alt }}">
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next" id="swiper-button-next-product-{{ section.id }}"></div>
                <div class="swiper-button-prev" id="swiper-button-prev-product-{{ section.id }}"></div>
              </div>
              <div thumbsSlider="" class="swiper mt-2 mySwiper max-w-2xl max-h-lg">
                <div class="swiper-wrapper">
                    {% for media in product.media %}
                        <div class="swiper-slide">
                            <img class="w-full h-full object-cover" src="{{ media | img_url: 'original' }}" alt="{{ media.preview_image.alt }}">
                        </div>
                    {% endfor %}
                </div>
              </div>
                <!-- {% for media in product.media %}
                    <div class="h-72 overflow-hidden p-2">
                        {% render 'product-media', media: media %}
                    </div>
                {% endfor %} -->
            </div>
            
            <div class="md:hidden p-3 md px-6">
                <div class="swiper" id="section-swiper-{{ section.id }}">
                    <div class="swiper-wrapper my-6">
                        {% for media in product.media %}
                            <div class="swiper-slide flex items-center justify-center p-2">
                                <div class="">
                                    <img class="max-w-full h-full object-contain" src="{{ media | img_url: 'large' }}" alt="{{ media.preview_image.alt }}">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination" id="swiper-pagination-{{ section.id }}"></div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev" id="swiper-button-prev-{{ section.id }}"></div>
                    <div class="swiper-button-next" id="swiper-button-next-{{ section.id }}"></div>
                </div>
            </div>

        </div>
        <div class="product--information top-5">
            {% form 'product', product, id: 'product-form', novalidate: 'novalidate', class:'flex flex-col h-full' %}
                <input type="hidden" name="id" value="{{ product.selected_variant.id }}">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'vendor' %}
                            <div class="my-1 px-5">
                                <span class="text-base text-clr_primary uppercase font-extrabold">{{ product.vendor }}</span>
                            </div>
                        {% when 'title' %}
                            <div class="my-1 px-5">
                                <h1 class="text-base text-clr_navigation uppercase font-bold">{{ product.title }}</h1>
                            </div>
                        {% when 'price' %}
                            <div class="my-2 px-5 space-x-3" id="price-{{ section.id }}">
                                <span class="text-lg text-clr_primary font-bold">{{ selected_variant.price | money }}</span>
                                <span class="text-lg text-clr_navigation line-through font-light">{{ selected_variant.compare_at_price | money }}</span>
                                <!-- {% if selected_variant.price < selected_variant.compare_at_price %}
                                    <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                                {% endif %} -->
                            </div>
                        {% when 'variant_selector' %}
                            <div class="my-1 px-5">
                                {% unless product.has_only_default_variant %}
                                    <variant-selector data-url="{{ product.url }}" data-section="{{ section.id }}">
                                        <!-- Product opions like color, size, etc -->
                                        {% for option in product.options_with_values %}
                                        <!-- Every label would have the same id if we didnt add an index value -->
                                            <div class="my-2">
                                                <select 
                                                    name="options[{{ option.name | escape }}]" 
                                                    id="Option-{{ section.id }}-{{ forloop.index0 }}" 
                                                    class="w-full bg-clr_variant_dropdown py-3 px-3 text-base font-bold text-clr_navigation"
                                                    >
                                                    {% for value in option.values %}
                                                        <option 
                                                            class="border-r-clr_variant_dropdown flex- text-base font-bold text-clr_navigation"
                                                            value="{{ value | escape }}"
                                                            {% if option.selected_value == value %}
                                                                selected="selected"
                                                            {% endif %}
                                                            >
                                                            {{ value }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

                                            </div>
                                            <script type="application/json">
                                                {{ product.variants | json }}
                                            </script>
                                        {% endfor %}
                                    </variant-selector>
                                {% endunless %}
                            </div>
                        {% when 'quantity' %}
                            <div class="my-1 px-5">
                                <label for="Quantity-{{ section.id }}">Quantity</label>
                            </div>
                            <div class="my-2 px-5">
                                <input type="number" name="quantity" id="Quantity-{{ section.id }}" value="1" min="1" class="w-full border px-3 py-3">
                            </div>
                        {% when 'description' %}
                            <div class="mt-3 py-6 px-5 bg-clr_dropdown">
                                <h3 class="text-white uppercase text-base font-bold">Beskrivelse</h3>
                                <!-- <p class="text-xs text-white font-light">a</p> -->
                                <p class="text-xs text-white font-light">{{ product.description }}</p>
                            </div>
                        {% when 'checkout_buttons' %}
                            <div class="my-1 px-5" id="button-{{ section.id }}">
                                <button type="submit" name="add" class="w-full px-6 py-4 text-white uppercase bg-gradient-to-r from-[#EAB787] to-[#9A684B] hover:bg-gray-700 rounded-full my-2"
                                    {% if selected_variant.available == false %}
                                        bg-gray-600 
                                    {% else %}
                                        bg-gray-900 
                                    {% endif %}"
                                    {% if selected_variant.available == false %}
                                        disabled
                                    {% endif %}
                                >
                                    {% if selected_variant.available == false %}
                                        Sold out
                                    {%else%}
                                        Add to cart
                                    {% endif %}
                                </button>
                            </div>
                    {% endcase %}
                {% endfor %}
            {% endform %}
        </div>
    </div>
</div>

<style>
    #swiper-button-next-{{ section.id }}, #swiper-button-prev-{{ section.id }}{
        color: black !important;
        top: auto !important;
        height: 20px !important;
    }

    #swiper-button-prev-{{ section.id }}::after, #swiper-button-next-{{ section.id }}::after{
        font-size: 20px !important;
    }

    #swiper-pagination-{{ section.id }}{
        color:black;
        bottom: 0 !important;
    }

    #swiper-pagination-{{ section.id }} .swiper-pagination-bullet-active{
        background:black !important;
    }
</style>

<script>
    class VariantSelector extends HTMLElement{
        constructor () {
            super();
            // Whenever VariantSelector changes
            this.addEventListener("change", this.onVariantChange)
        }
        onVariantChange() {
            this.getSelectedOptions();
            this.getSelectedVariant();

            if(this.currentVariant) {
                this.updateURL()
                this.updateFormID()
                this.updatePrice()
            }
        }

        getSelectedOptions(){
            this.options = Array.from(this.querySelectorAll('select'), (select)=> select.value);
            console.log(this.options)
        }

        getVariantJSON(){
            this.varianData = this.varianData || JSON.parse(this.querySelector('[type="application/json"]').textContent)
            return this.varianData;
        }

        getSelectedVariant(){
            this.currentVariant = this.getVariantJSON().find(
                (variant) => {
                    // We return an array of true/false if 
                    // it includes a false it should look for another option
                    const findings = !variant.options.map(
                        (option, index) => {
                            return this.options[index] === option;
                        }
                    ).includes(false)

                    if(findings) return variant;
                }
            );
            console.log(this.currentVariant)
        }
        // If the current variant is false (empty) then it wont update the url
        updateURL(){
            if(!this.currentVariant) return;
            // We replace the current url. Dataset is the url from variant selection data-set
            window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`)

        }

        updateFormID(){
            const form_input = document.querySelector('#product-form').querySelector('input[name="id"]');
            form_input.value = this.currentVariant.id;
        }

        updatePrice(){
            fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
            .then((response)=> response.text())
            .then(responseText => {
                const id_price = `price-${this.dataset.section}`
                const id_button = `button-${this.dataset.section}`

                const html = new DOMParser().parseFromString(responseText, 'text/html')

                const oldPrice = document.getElementById(id_price)
                const newPrice = html.getElementById(id_price)

                const oldButton = document.getElementById(id_button)
                const newButton = html.getElementById(id_button)

                if (oldPrice && newPrice ) {
                    oldPrice.innerHTML = newPrice.innerHTML
                }
                if (oldButton && newButton ) {
                    oldButton.innerHTML = newButton.innerHTML
                }

            })
        }

        updateButton(){

        }
    }
    customElements.define('variant-selector', VariantSelector)
</script>

<script>
    const swiper_product_mbl = new Swiper('#section-swiper-{{ section.id }}', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,

  // If we need pagination
  pagination: {
    el: '#swiper-pagination-{{ section.id }}',
  },

  // Navigation arrows
  navigation: {
    nextEl: '#swiper-button-next-{{ section.id }}',
    prevEl: '#swiper-button-prev-{{ section.id }}',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});

let swiper_product = new Swiper(".mySwiper", {
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
      });
let swiper_product_thumbnail = new Swiper(".mySwiper2", {
spaceBetween: 10,
navigation: {
    nextEl: "#swiper-button-next-product-{{ section.id }}",
    prevEl: "#swiper-button-prev-product-{{ section.id }}",
},
thumbs: {
    swiper: swiper_product,
},
});
</script>

{% schema %}
    {
        "name": "Product",
        "blocks":[
            {
                "type": "vendor",
                "name": "Vendor",
                "limit": 1
            },
            {
                "type": "title",
                "name": "Title",
                "limit": 1
            },
            {
                "type": "price",
                "name": "Price",
                "limit": 1
            },
            {
                "type": "variant_selector",
                "name": "Variant_selector",
                "limit": 1
            },
            {
                "type": "quantity",
                "name": "Quantity",
                "limit": 1
            },
            {
                "type": "description",
                "name": "Description ",
                "limit": 1
            },
            {
                "type": "checkout_buttons",
                "name": "Checkout_buttons ",
                "limit": 1
            }
        ]
    }
{% endschema %}