<!-- {% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
{% endfor %} -->

<!-- Hero section -->
<section id="hero">
  <div class="flex items-center bg-clr_primary relative max-h-[65vh] md:static md:container md:mx-auto md:max-h-[75vh] overflow-y-hidden">
    <!-- Left item -->
    <div 
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 
      flex flex-col items-center justify-center md:inset-0 md:translate-x-0 md:translate-y-0 md:static md:w-1/2 ">

      <h1 class="uppercase whitespace-nowrap text-clr_primary_variaton font-bold text-3xl -my-4 md:-my-6 md:text-5xl">MID SEASON 21</h1>
      <h1 class="uppercase whitespace-nowrap text-clr_primary_variaton font-light text-3xl md:text-5xl">NY KOLLEKTION</h1>
      <div class="my-3">
        <a href="#" class="uppercase p-3 px-6 text-clr_primary font-bold bg-white rounded-full">Shop nu</a>
      </div>
    </div>
    <!-- Right item -->
    <div class="md:w-1/2">
      <img class="object-cover w-full" src="https://cdn.shopify.com/s/files/1/0265/6521/4231/files/MarMar-AW22-STL-60_3_680x980_crop_center.jpg?v=1661790734" alt="">
    </div>
  </div>
</section>

<!-- Categories section -->
<section id="categories">
  <!-- Container -->
  <div class="bg-clr_grey_bg p-3 px-6 pb-12 md:container mx-auto flex flex-col ">
    <!-- Section title -->
    <h3 class="my-3 font-bold text-2xl text-clr_navigation">HVEM SHOPPER DU TIL?</h3>
    <!-- Category items -->
    <div class="flex flex-col items-center justify-between md:flex-row space-y-4 md:space-x-6 md:space-y-0">
      <!-- Category item -->
      <div class="max-w-md h-36 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
        <img class="object-cover w-full md:h-full" src="https://cdn.shopify.com/s/files/1/0297/9168/2700/files/MarMar-AW22-STL-136_800x800_crop_center.jpg?v=1661199879" alt="">
        <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
          <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">Baby pige</p>
          <div class="flex justify-center">
            <a 
            href="#"
            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
            Shop nu
            </a>
          </div>
        </div>
      </div>
      <!-- Category item -->
      <div class="max-w-md h-36 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
        <img class="object-cover w-full md:h-full" src="https://cdn.shopify.com/s/files/1/0297/9168/2700/files/MarMar-AW22-STL-136_800x800_crop_center.jpg?v=1661199879" alt="">
        <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
          <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">Baby pige</p>
          <div class="flex justify-center">
            <a 
            href="#"
            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
            Shop nu
            </a>
          </div>
        </div>
      </div>
      <!-- Category item -->
      <div class="max-w-md h-36 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
        <img class="object-cover w-full md:h-full" src="https://cdn.shopify.com/s/files/1/0297/9168/2700/files/MarMar-AW22-STL-136_800x800_crop_center.jpg?v=1661199879" alt="">
        <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
          <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">Baby pige</p>
          <div class="flex justify-center">
            <a 
            href="#"
            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
            Shop nu
            </a>
          </div>
        </div>
      </div>
      <!-- Category item -->
      <div class="max-w-md h-36 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
        <img class="object-cover w-full md:h-full" src="https://cdn.shopify.com/s/files/1/0297/9168/2700/files/MarMar-AW22-STL-136_800x800_crop_center.jpg?v=1661199879" alt="">
        <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
          <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">Baby pige</p>
          <div class="flex justify-center">
            <a 
            href="#"
            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
            Shop nu
            </a>
          </div>
        </div>
      </div>
      <!-- Category item -->
      <div class="max-w-md h-36 overflow-y-hidden md:max-w-[200px] md:h-64 relative">
        <img class="object-cover w-full md:h-full" src="https://cdn.shopify.com/s/files/1/0297/9168/2700/files/MarMar-AW22-STL-136_800x800_crop_center.jpg?v=1661199879" alt="">
        <div class="top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 absolute">
          <p class="max-w-sm text-center uppercase font-bold text-white text-2xl whitespace-nowrap">Baby pige</p>
          <div class="flex justify-center">
            <a 
            href="#"
            class="hidden uppercase whitespace-nowrap p-2 px-4 text-white font-bold bg-white rounded-full
            bg-gradient-to-r from-clr_gold to-clr_primary md:block">
            Shop nu
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<!-- New products section -->
<section id="new-products">
  <!-- Container -->
  <div class="p-3 md px-6 pb-12 md:container mx-auto flex flex-col items-center">
    <!-- Section title -->
    <h3 class="uppercase my-3 font-bold text-2xl text-clr_navigation">Nyheder</h3>
    <!-- Products container -->
    <div class="flex flex-row items-center justify-center  space-y-4 md:space-x-6 md:space-y-0">
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-clr_navigation">KONGES SLØJD</p>
          <p class="font-light text-normal text-clr_navigation">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-clr_navigation">999,00kr</p>
        </div>
      </div>
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-clr_navigation">KONGES SLØJD</p>
          <p class="font-light text-normal text-clr_navigation">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-clr_navigation">999,00kr</p>
        </div>
      </div>
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-clr_navigation">KONGES SLØJD</p>
          <p class="font-light text-normal text-clr_navigation">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-clr_navigation">999,00kr</p>
        </div>
      </div>
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-clr_navigation">KONGES SLØJD</p>
          <p class="font-light text-normal text-clr_navigation">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-clr_navigation">999,00kr</p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Popular products section -->
<section id="popular-products">
  <!-- Container -->
  <div class="p-3 md px-6 pb-12 md:container mx-auto flex flex-col  bg-gradient-to-r from-clr_blue_ocean_grad2 to-clr_blue_ocean_grad1 ">
    <!-- Section title -->
    <div class="flex flex-row items-center justify-between">
      <h3 class="uppercase my-3 font-bold text-2xl text-white">POPULÆRT I ØJEBLIKKET</h3>
      <a href="#" class="uppercase text-white text-regular font-bold underline">See alle</a>
    </div>
    <!-- Products container -->
    <div class="flex flex-row items-center justify-center  space-y-4 md:space-x-6 md:space-y-0">
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-white">KONGES SLØJD</p>
          <p class="font-light text-normal text-white">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-white">999,00kr</p>
        </div>
      </div>
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-white">KONGES SLØJD</p>
          <p class="font-light text-normal text-white">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-white">999,00kr</p>
        </div>
      </div>
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-white">KONGES SLØJD</p>
          <p class="font-light text-normal text-white">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-white">999,00kr</p>
        </div>
      </div>
      <!-- Product item -->
      <div class=" relative">
        <!-- Product image -->
        <img class="max-h-[220px] overflow-y-hidden" src="https://i.postimg.cc/cHX4H5fL/new-product.png" alt="">
        <!-- Product description -->
        <div class="flex flex-col items-start justify-start">
          <p class="font-bold text-normal text-white">KONGES SLØJD</p>
          <p class="font-light text-normal text-white">LANG DUNJAKKE - VAL D’ISERE</p>
          <p class="font-bold text-normal text-white">999,00kr</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="brands-categories">
  <!-- Section container -->
  <div class="p-3 px-6 pb-12 flex flex-col md:flex-row md:container md:mx-auto">
    <!-- Column item -->
    <div class="flex flex-col w-1/2">
      <h3 class="whitespace-nowrap uppercase my-3 font-bold text-lg text-clr_navigation">Populære mærker</h3>
      <ul class="flex space-x-12">
        <div class="flex flex-col">
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">MarMar</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Konges Sløjd</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Petit Piao</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Wheat</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Our generation</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">MaMaMeMo</a></li>
        </div>
        <div class="flex flex-col">
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Djeco</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Jellycat</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">By Astrup</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Bibs</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">GRO</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Schnoor</a></li>
        </div>
      </ul>
    </div>
    <!-- Column item -->
    <div class="flex flex-col w-1/2">
      <h3 class="whitespace-nowrap uppercase my-3 font-bold text-lg text-clr_navigation">Populære KATEGORIER</h3>
      <ul class="flex space-x-12">
        <div class="flex flex-col">
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Babytøj</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Stofbleer</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">UV dragter</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Trælegetøj</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Mad legetøj</a></li>
          <li><a class="text-clr_navigation font-medium sm:text-tiny md:text-regular" href="#">Bodystockings</a></li>
        </div>
      </ul>
    </div>
    
  </div>
</section>

<section id="accordion">
  <!-- Section container -->
  <div class="md:container mx-auto">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item bg-clr_primary_variaton ">
        <h2 class="accordion-header mb-0" id="headingOne">
          <button class="
            uppercase
            accordion-button
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-white
            bg-clr_primary_variaton
            border-b
            border-white
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            ÅBNINGSTIDER / DU FINDER OS HER
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show bg-clr_dropdown" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5 text-white">
            <strong>This is the first item's accordion body.</strong> It is shown by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white">
        <h2 class="accordion-header mb-0" id="headingTwo">
          <button class="
            uppercase
            accordion-button
            relative
            flex
            items-center
            w-full
            py-4
            px-5
            text-base text-white
            bg-clr_primary_variaton
            border-b
            border-white
            rounded-none
            transition
            focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            Rabatkoder & Gavekort
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse bg-clr_dropdown" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5 text-white">
            <strong>This is the second item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white border">
        <h2 class="accordion-header mb-0" id="headingThree">
          <button class="
          uppercase
          accordion-button
          relative
          flex
          items-center
          w-full
          py-4
          px-5
          text-base text-white
          bg-clr_primary_variaton
          border-b
          border-white
          rounded-none
          transition
          focus:outline-none
          " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            om olila
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse text-white bg-clr_dropdown" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-4 px-5">
            <strong>This is the third item's accordion body.</strong> It is hidden by default,
            until the collapse plugin adds the appropriate classes that we use to style each
            element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding
            our default variables. It's also worth noting that just about any HTML can go within
            the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer>
  <!-- Footer container -->
  <div class="md:container md:mx-auto  bg-clr_primary">
    <div class="flex flex-col items-center justify-between space-y-6 md:flex-row">
      <img src="https://svgshare.com/i/mJG.svg" alt="">
      <div class="flex flex-col items-center justify-center">
        <h3 class="uppercase whitespace-nowrap text-xl md:text-2xl text-white font-bold">
          Spar 10% på første køb ved
        </h3>
        <h3 class="uppercase whitespace-nowrap text-xl md:text-2xl text-white font-bold">
          tilmelding af nyhedsbrev
        </h3>
        <div class="flex flex-col md:flex-row items-center justify-center">
          <input type="text" placeholder="NAVN">
          <input type="email" name="user-email" id="" placeholder="E-MAIL">
        </div>
        <div class="my-3">
          <a href="#" class="uppercase p-3 px-6 text-white font-bold bg-clr_primary_variaton rounded-full">TILMELD NU</a>
        </div>
      </div>
      <div class="flex flex-col">
        <h3 class="uppercase whitespace-nowrap text-2xl font-bold text-white">
          FØLG OS
        </h3>
        <div class="flex flex-row items-center justify-center space-x-3">
          {% render 'icon-instagram' %}
          {% render 'icon-facebook' %}
        </div>
      </div>
    </div>
    <div class="flex justify-between md:items-center">
      <div class="flex flex-col items-start md:flex-row">
        <a class="uppercase text-clr_primary_variaton text-regular font-bold" href="#">Firmainformation</a>
        <a class="uppercase text-clr_primary_variaton text-regular font-bold" href="#">Databeskyttelse</a>
      </div>
      <div class="flex flex-col items-end md:flex-row">
        <a class="uppercase text-clr_primary_variaton text-regular font-bold" href="#">Handelsbetingelser</a>
        <a class="uppercase text-clr_primary_variaton text-regular font-bold" href="#">Indstillinger for cookies</a>
      </div>
    </div>
  </div>
</footer>



